# ==============================================
# BASE DE DATOS (MySQL en mysql-local:3306)
# ==============================================
DB_HOST=host.docker.internal
DB_PORT=3306
DB_USER=root
DB_PASS=root
MYSQL_DATABASE=inventario_empresa

# ==============================================
# REDIS (Caché & Blacklist de Tokens JWT)
# ==============================================
REDIS_HOST=redis-cache
REDIS_PORT=6379

# ==============================================
# SEGURIDAD JWT
# ==============================================
JWT_SECRET=EstaEsUnaClaveSuperSeguraYDeAlMenos32Caracteres1234

# ==============================================
# SERVICIO DE CORREOS (Spring Mail - Gmail SMTP)
# ==============================================
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=marcoarias765@gmail.com
MAIL_PASSWORD=uzks zkui dqhl doek

# ==============================================
# PUERTOS Y URLs
# ==============================================
BACKEND_PORT=8080
FRONTEND_PORT=3000
VITE_API_URL=http://localhost:8080
APP_FRONTEND_URL=http://localhost:3000