# ==============================================
# CONFIGURACIÓN DE BASE DE DATOS (MySQL)
# ==============================================
MYSQL_DATABASE=inventario_empresa
MYSQL_USER=root
MYSQL_PASSWORD=marco200227
MYSQL_ROOT_PASSWORD=marco200227
MYSQL_PORT=3307

# ==============================================
# CONFIGURACIÓN DE REDIS (Caché & Blacklist)
# ==============================================
REDIS_HOST=redis-cache
REDIS_PORT=6379

# ==============================================
# SEGURIDAD JWT
# (Mínimo 32 caracteres para algoritmo HS256)
# ==============================================
JWT_SECRET=EstaEsUnaClaveSuperSeguraYDeAlMenos32Caracteres1234

# ==============================================
# SERVICIO DE CORREOS (Spring Mail / Gmail SMTP)
# ==============================================
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=marcoarias765@gmail.com
MAIL_PASSWORD=uzks zkui dqhl doek

# ==============================================
# PUERTOS Y SERVICIOS
# ==============================================
BACKEND_PORT=8082
FRONTEND_PORT=80
VITE_API_URL=http://localhost:8082
